 <body>
    <!-- Header -->
    <div class = "container-fluid" style="background: #66b2b2;height:8vh;margin:0px;padding-bottom: 1vh;padding-top: 0px;">
            <!-- Title -->
            <h4 style="padding-top:10px;display: inline-block;margin-right: 0.4vw;color:white"> Slotz</h4> <h6 style="display: inline-block;color:white;"> inc </h6>
            <br>
            <a style="margin-left: 6vw;color: white;text-decoration: none;" href="/"> Home </a>
            <a style="margin-left: 1vw;color: white;text-decoration: none;"  href="/analytics"> Covid Updates </a>

    </div>
    <div style="padding-bottom: 22vh; margin: 0px; padding-top:0px;">
        <!-- Hero Heading -->
        <div class="container" @fadeInOut>
            <div class="row col-sm-4 center" style="margin-left: 25vw; padding-top: 15vh;">
                    <h1>             Slot Checker       </h1>
            </div>
            <h5 style="margin-left: 23vw"> We check for slots every 15 seconds </h5>
        </div>
        <!-- User input -->
        <div class="container" @fadeInOut> 
            <div class="row" style="margin-top:8vw;scroll-behavior: smooth">
                <div class="input-group mb-3">
                    <div class="input-group-addon">
                        <!-- Pincode input -->
                        <span class="input-group-text" id="basic-addon1">Pincode</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Pincode" (blur) = "getPincode($event)" aria-label="Pincode" aria-describedby="basic-addon1">
                </div>
            </div>

            <!--
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Item 1</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu>
            -->
        </div> 
        <!--
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>  -->     
    </div>
    <!-- Card holders for providing extra information to users-->
    <div style="background-color: #defffb;padding-bottom: 25vh;padding-left: 3vw;scroll-behavior: smooth;" @fadeInOut>
        <div class="container">
            <div class="row">
                <!-- Card-1 -->
                <div class="col-sm-3" style="background-color: white; margin-top: 10vw">
                        <img class="card-img-top" src="./assets/images/easy-use.png" alt="Card image cap" style="max-height: 12vh; max-width: 6vw;margin-left: 4.5vw;margin-top: 5vh">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; padding-top: 5vh"><b>Easy to Use</b></h5>
                            <p class="card-text" style="padding-top: 5vh;text-align: justify;">One stop shop for checking slots in India. Simply enter your pincode and get notified when a slot is available.</p>
                        </div>
                </div>

                <!-- Card-2 -->
                <div class="col-sm-3" style="background-color: white;margin-left: 5vw; margin-top: 10vw">
                        <img class="card-img-top" src="./assets/images/analysis.png" alt="Card image cap" style="max-height: 12vh; max-width: 6vw;margin-left: 4.5vw;margin-top: 5vh">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; padding-top: 5vh">I<b>nstant Results</b></h5>
                            <p class="card-text" style="padding-top: 5vh;text-align: justify;">We monitor CoWin every 15 seconds to ensure that you are notified immediately once slots are available</p>
                        </div>
                </div>

                <!-- Card-3 -->
                <div class="col-sm-3" style="background-color: white;margin-left: 5vw; margin-top: 10vw">
                        <img class="card-img-top" src="./assets/images/email.png" alt="Card image cap" style="max-height: 12vh; max-width: 6vw;margin-left: 5.2vw;margin-top: 5vh">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align: center; padding-top: 5vh"><b>Notification</b></h5>
                            <p class="card-text" style="padding-top: 5vh;text-align: justify;">Comming Soon! Get Notified via email and SMS once the ban on the COWin API's are lifted.</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer" style="background-color: black;text-align: center; padding-top: 10px; scroll-behavior: smooth;">
      <div class="container-fluid">
        <!-- Footer Information -->
        <span class="text-muted col-sm-3 " style="color: blue;text-decoration: none;"> <a  href="#"> Dev Team  </a></span>
      </div>
    
    </footer>
</body>