

<body style="background: #F6F4F4; padding-bottom: 10vh;">
   <div class = "container-fluid" style="background: #51A8BB; padding-bottom: 2vh;">
        <h4 style="margin-top:4vh">Co Win Slots </h4>
    </div>
    <div class="container">
        <div class="row col-sm-4 center" style="margin-left: 20vw">
                <h1>            CoWin Slot Checker       </h1>
                <h5 style="margin-left: 3vw"> We check for slots every 15 seconds </h5>
        </div>
    </div>
    <div class="container">
        <div class="row" style="margin-top:8vw">
        <div class="input-group mb-3">
            <div class="input-group-addon">
                <span class="input-group-text" id="basic-addon1">@</span>
            </div>
            <input type="text" class="form-control" placeholder="Pincode" aria-label="Pincode" aria-describedby="basic-addon1">
        </div>
        </div>
        <div class="row" style="margin-bottom:8vh">
              <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
              </div>
        </div>
         <button mat-button [matMenuTriggerFor]="menu">Menu</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
    </div> 
</body>
