 <!-- Header -->
<div class = "container-fluid" style="background: #66b2b2;height:8vh;margin:0px;padding-bottom: 1vh;padding-top: 0px;">
        <!-- Title -->
        <h4 style="padding-top:10px;display: inline-block;margin-right: 0.4vw;color:white"> Slotz</h4> <h6 style="display: inline-block;color:white;"> inc </h6>
        <br>
        <a style="margin-left: 6vw;color: white;text-decoration: none;" href="/"> Home </a>
        <a style="margin-left: 1vw;color: white;text-decoration: none;"  href="/analytics"> Covid Updates </a>

</div>

<div class="container" style="border-style: solid;width:300vw;height: 130vh;margin-top: 5vh;">
    <h3 style="margin-left: 28vw"> Vaccine Analytics</h3>
    <!--Options Menu-->
    <span>
    State List:
    </span>
    <select name="state Names" id="states" (change)="onStateSelection($event)" style="margin-top: 5vh;width: 10vw">
            <option value="AP">Andra Pradesh</option>
            <option value="KA" selected>Karnataka</option>
            <option value="DL">Delhi</option>
            <option value="UP">Uttar Pradesh</option>
        </select>

    <br>
    <br>
    <div class="container-left" style="width:30vw;height: 40vh;float: left;border-right: solid;margin-left: 5vw;">
        <div class="container-left" style="width:20vw;height: 40vh;">
            
            <canvas id="pievalue" >{{ chart }} </canvas>
        </div>
        <div class="container" style="float:right;margin-top: 10vh;padding-left: 5vw;">
                <span>
                    StateWise Distribution
                </span>
        </div>
    </div>
    <div style="width:20vw;height: 40vh;float: right;margin-right: 5vw;">
      <div class="container-right" style="width:20vw;height: 40vh;padding-right:10px;">
        
        <canvas id="pievalue2" >{{ chart2 }} </canvas>
      </div>
       <div class="container" style="float:right;margin-top: 10vh;padding-left: 5vw;">
                <span>
                    CountryWise Distribution
                </span>
        </div>
    </div>
     <div class="container-right" style="width:60vw;height: 50vh;padding-left:10vw;margin-top: 60vh">
        
        <canvas id="lineChart" width="30vw" >{{ lineChart }} </canvas>
      </div>
        <div class="container" style="padding-left: 32vw;">
                <span>
                    DistrictWise Cases
                </span>
        </div>
    
</div>
 